@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: border-box;
}

body {
  font-family: "Baloo 2", sans-serif;
}

.navbar {
  background-color: #f86e75;
}

#logo-img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}

#mynavbar ul li {
  margin-right: 50px;
}

#mynavbar ul li a {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

#text-ngo {
  color: rgb(0, 128, 128);
  font-weight: 600;
  margin: auto;
}

#btn {
  background-color: rgb(0, 128, 128);
  color: white;
  font-weight: 800;
}

.heading {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.heading h1 {
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}
.heading p {
  font-size: 20px;
  color: #666;
  margin-bottom: 30px;
}

/* images */
.aimg {
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
}

.container {
  width: 90%;
  margin: auto;
  padding: 10px 20px;
}

.container h2{
  text-decoration: underline;
}



.about-content h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #333;
}
.about-content p {
  /* overflow: hidden; */
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  text-align: justify;
}
.about-content .drop-cap {
  float: right;
  margin:0 10px;
  padding:0 10px;
}



.about-content2 h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #333;
}
.about-content2 p {
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  text-align: justify;
}
.about-content2 .drop-cap {
  float: left;
  margin:0 10px;
  padding:0 10px;
}



.about-content3 h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #333;
}
.about-content3 p {
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  text-align: justify;
}
.about-content3 .drop-cap {
  float: right;
  margin:0 10px;
  padding:0 10px;
}



.about-content4 h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #333;
}
.about-content4 p {
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  text-align: justify;
}
.about-content4 .drop-cap {
  float: left;
  margin:0 10px;
  padding:0 10px;
}



/* footer */
footer {
  background-color: #28334aff;
  overflow-x: hidden;
  padding: 20px;
  color: #fff;
  margin-top: 10px;
}
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  margin-bottom: 10px;
}
.tag ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.fdiv {
  padding-bottom: 20px;
}
.office h1,
.office p {
  margin: 0;
}
.div2 {
  padding-top: 20px;
}
.div2 a {
  font-size: 30px;
  margin-right: 10px;
}

.fh1 {
  font-size: 12px;
}

@media (min-width: 768px) {
  .list {
    margin: 20px 0px;
  }
  .office {
    margin: 20px 0px;
  }
  .div2 {
    padding-left: 0;
  }
  .para {
    margin: 20px 0px;
  }
}