@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Baloo 2", sans-serif;
}

.navbar {
  background-color: #1b961b;
}

#logo-img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}

#logo-img:hover{
  transform: scale(1.3);
  rotate: 360deg;
  transition: all 0.7s ease-in-out 0.2s;
}

#mynavbar ul li {
  margin-right: 20px;
  white-space: nowrap;
}
#mynavbar ul div {
  margin-right: 0;
}

@media (max-width:376px) {
  #logo-img{
    width: 40px;
    height: 40px;
  }
  #text-ngo{
    font-size: 14px;
  }
}


#mynavbar ul li a {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width:769px) {
  #mynavbar ul li a{
    font-size: 16px;
  }
}


#text-ngo {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin: auto;
}

#btn {
  background-color: #ffa500;
  color: white;
  font-weight: 800;
}

label {
  font-size: 20px;
  font-weight: 500;
}
form {
  background-color: #25c425d1;
  padding: 20px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(205, 201, 201, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cs {
  border: 2px gray solid;
  border-radius: 10px;
}
.btnnn {
  border-radius: 10px;
  background-color: #ffffff;
  color: #25c425d1;
  border: 2px solid rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
}
.btnnn:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.chead {
  color: rgba(38, 225, 28, 0.525);
  font-weight: 600;
  text-shadow: 1px 1px 2px gray, 0 0 1em black, 0 0 0.2em white;
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-radius: 30px;
}
.cbox {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #25c425d1;
}
.cbox p {
  font-size: 20px;
}


.contact-info .cbox {
  flex: 1 0 33.33%; /* Set a minimum width for each box */
  padding: 1rem;
  margin: 5px;
  font-weight: 600;
  border: 1px solid #703900;
  border-radius: 3.25rem;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.contact-info .cbox .icon {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
ul li {
  list-style-type: none;
}
.ico a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color:#25c425d1;
    padding: 2px 8px;
    border-radius: 15px;
}
.text p a {
  text-decoration: none;
  color: black;
}
iframe {
  border-radius: 20px;
  box-shadow: rgba(170, 161, 161, 0.25) 0px 54px 55px,
    rgba(176, 169, 169, 0.12) 0px -12px 30px, rgba(188, 181, 181, 0.12) 0px 4px 6px,
    rgba(181, 172, 172, 0.17) 0px 12px 13px, rgba(202, 195, 195, 0.09) 0px -3px 5px;
}
@media (min-width: 768px) {
  iframe {
    width: 90vw;
    height: 70vh;
  }
}

/* Responsive media query for screens smaller than 1024px */
@media (max-width: 1023px) {
  .contact-info {
    justify-content: center; /* Center boxes horizontally on small screens */
  }
}



    /* footer */
    footer {
      background-color: #28334AFF;
      overflow-x: hidden;
      padding: 20px;
      color: #fff;
  }
  footer p {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
      margin-bottom: 10px;
  }
  .tag ul li a{
      text-decoration: none;
      color: #fff;
      font-size: 15px;

  }
  .fdiv {
      padding-bottom: 20px;
  }
  .office h1, .office p {
      margin: 0;
  }
  .div2 {
      padding-top: 20px;
  }
  .div2 a {
      font-size: 30px;
      margin-right: 10px;
  }

  .fh1{
      font-size: 12px;
  }
  footer ul li a:hover{
    background-color: #fff;
    color: #28334aff;
    border-radius: 10px;
    }
    footer .div2 i{
    padding: 10px;
    }
    footer .div2 i:hover{
      background-color: #fff;
      color: #28334aff;
      border-radius: 10px;
      padding: 10px;
    }
  
  
  @media(min-width: 768px) {
      .list{
          margin: 20px 0px;
      }
      .office{
          margin: 20px 0px;
      }
      .div2 {
          padding-left: 0;
      }
      .para{
          margin: 20px 0px;
      }
  }